*{
    font-family: 'Rethink Sans', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100vh;
    background-color:#00b894;
}

/* score board */
#out-score{
    background-color:#a29bfe;
    height:85vmin;
    width:85vmin;
    border:3px inset #FFF;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:column;
    padding:1rem;
    border-radius:1.2rem;
}

.in-content{
    width:100%;
}

.score{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:1%;
}
.scr{
    font-size:1.3em;
}
/* score board end */

/* game board */
.board{
    height:100%;
    background-color: #121212;
    display:grid;
    grid-template: repeat(30,1fr)/repeat(30,1fr);
    border: 2px solid white;
}
/* game board end  */

/*btns*/
.btns{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    height:10%;
}
button{
    border-radius:0.5rem;
    border:0.2rem outset #FFF;
    cursor:pointer;
}
button:hover{
    opacity:0.8;
    border:0.2rem solid #FFF;
}
button:active{
    opacity:0.6;
    border: 0.2rem inset #FFF;
}
/*btns end*/

/*from script*/
.fd{
    background-color:#EA2027;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.snk{
    background-color:#f1c40f;
    border-radius:0.2rem;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
}
/*from script end*/

/*absolute elements !start! */
#notify, #settings, #del, #set{
    position:absolute;
}
#notify{
    padding:10px;
    top:0;
    left:0;
    background-color:#34495e;
    color: #f1c40f;
}
#settings{
    padding:10px;
    top:0;
    right:0;
    background-color: #FFF;
    border-radius:3px;
    cursor:pointer;
}
#settings:hover{opacity:0.8}
#del{
    padding:10px;
    bottom:0;
    right:0;
}
#del button{
    padding:10px;
    border:2px solid #FFF;
    background-color: transparent;
    color: #2b2020;
    font-weight:bolder;
}

/*settings*/
#set{
    height:33vmin;
    width:70vmin;
    background-color: rgba(255,255,255,0.6);
    border-radius:10px;
    padding:3%;
    overflow-y: auto;
    overflow-x: auto;
    animation-name: animator;
    /* animation-delay: 1s; */
    animation-duration: 100ms;
    animation-iteration-count: 1;
    display: none;
}
@keyframes animator{
    0%{height:0;width:0}
    5%{height:1vmin;width:1vmin}
    10%{height:3vmin;width:5vmin}
    15%{height:5vmin;width:10vmin}
    30%{height:12vmin;width:20vmin}
    45%{height:15vmin;width:30vmin}
    60%{height:19vmin;width:40vmin}
    70%{height:23vmin;width:50vmin}
    85%{height:30vmin;width:60vmin}
    100%{height:33vmin;width:70vmin}
}
#set::-webkit-scrollbar{display:none;}
#set{scrollbar-width:none;-ms-overflow-style:none;}
input{
    width:100%;
}
.color{
    width:100%;
}
.clr-box{
    display:inline-block;
    border:1px solid #000;
    height:1.5vmax;
    width:1.5vmax;
}
.save{
    position: relative;
    bottom:0;
    right:0;
    border:1px solid green;
    color:green;
    padding:10px;
    background-color: transparent;
    font-size:large;
    cursor:pointer;
}
.cancel{
    border:1px solid red;
    color:red;
}
.save:hover{
    border:1px solid green;
    opacity:0.8;
}
.save:active{
    border:1px solid green;
    opacity:0.8;
}
/*settings end*/

/*absolute elements !end! */

/* media query */
@media screen and (max-width:530px){
    #set{
        height:60vmin;
    }
}
/* media query end*/